body {
    background-color: #413f3f;
    color: antiquewhite;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Outfit', sans-serif;

}

header {
    background-color: rgb(250, 168, 218);
    box-shadow: 10px 10px 10px rgba(43, 42, 42, 0.588);
    width: 100%;

}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    margin: 0 0 0 25px;
    font-size: 20px;
    color: antiquewhite;
}

nav a:hover {
    color: hotpink;
}

nav {
    position: absolute;
    top: 40px;
    right: 15px;
}

.logo {
    width: 80px;
    height: 80px;
    padding: 10px 10px 10px 10px;
}

.h1-logo {
    text-align: left;
    padding-left: 20px;
}

#banner {
    height: 20rem;
    width: 100%;
}


.txt-index {
    text-align: center;
    margin: 20px 10px 10px 10px;
}

strong {
    color: rgb(224, 94, 120);
}

#missao {
    color: rgb(224, 94, 120);
}

.beneficios {
    background-color: rgba(250, 168, 218, 0.542);
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}

.txt-beneficios {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    padding-left: 25px;
}

footer {
    margin-top: 12%;
    text-align: center;
    margin-bottom: 5%;

}

footer a {
    text-decoration: none;
    color: antiquewhite;
}

footer p {
    font-size: 13px;
}

/* css da pagina inicial */

.banner-principal {
    width: 100%;
    height: 50rem;
}

.h1-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

main {
    padding: 0% 5% 0% 5%;
    display: inline-flex;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.img-secundaria {
    width: 60%

}

.imagem-mini{
    width: 300px;
    float: left;
    margin: 0px 20px 20px 0;
}

.mapa{
    padding: 3em 0em;
}

.mapa p {
    margin:  0 0 2em;
    text-align: center;
}

.video{
    width: 560px;
    margin: 2em auto;
}